{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "overrides":[
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
