.header-container {
  position: fixed;
  background: #58c6de;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  line-height: 42px;

  .container-left {
    min-width: 240px;
  }

  .container-right {
    min-width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}